@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

/******************************
*
* subject
*
******************************/

header, .title{
text-align: center;
font-size: 1.5em;
font-weight: 700;
font-family: 'Nanum Gothic', sans-serif;
color: #f0f0f0;
}

body{
    text-align: center;
}

/******************************
*
* header-top
*
******************************/

.clearfix:before,
.clearfix:after {
  content :"";
  display: table;
}
.clearfix:after{
  clear: both;
}
.l-left{
  float: left;
}
.l-right{
  float: right;
}
.one-line{
  vertical-align: middle;
}

.header-top{
  background: rgba(0,47,77,.3);
  height: 30px;
  padding: 0 20px;
  position : fixed;
  top : 0;
  width: 100%;
  z-index: 12;
  box-sizing: border-box;
}

.username{
  font-size: 0.8em;
  font-family: 'Nanum Gothic', sans-serif;
  text-decoration: underline;
  padding: 0 0 10px;
}

/******************************
*
* button
*
******************************/

.btn-confirm {
    width:200px;
    background-color: #f8585b;
    border: none;
    color:#fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
  }


.btn-confirm:hover {
  box-shadow: #fc9a9c 0 80px 0px 2px inset;
  color: #f8585b;
}

.btn-enabled {
  width:200px;
  background-color: lightgray;
  border: none;
  color: #6f6f6f;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px;
  cursor: pointer;
}

/******************************
*
* section : 1 분 묵상
*
******************************/

  .video {
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    border-radius: 30px;
    background-color: #f0f0f0;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0px 8px 33px #999;
  }
  
  .video-container {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 50%;
  }
  
  iframe {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
/******************************
*
* section : 2 장 읽기
*
******************************/
  .txtbox
  {   width: 70%;
      text-align: justify;
      font-family: 'Nanum Gothic', sans-serif;
      border-style: solid; 
      border-width: 1px; 
      padding: 12px; 
      word-break: break-all;  
      border-color: LightGray;
      border-radius: 8px;
      line-height: 300%;
      margin-left: auto; margin-right: auto;
}
.txtcontent
{   
    height: 500px; 
    color: LightGray;
    font-size: 1.2em;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    margin: 0 auto; 
    padding: 0px 10px 20px;
    
}

/******************************
*
* section : 3 겹줄 기도
*
******************************/
.box {
  width: 70px;
  height: 70px; 
  border-radius: 70%;
  overflow: hidden;
  background-color: rosybrown;
}
.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-nickname{
  text-align: center;
  font-size: 0.5em;
  font-family: 'Nanum Gothic', sans-serif;
  color: #f0f0f0;
}
.profile-one{
  display: inline-block;
  padding : 20px;
}

.horizontal-box{
  width: 30%;
  height: 200px;

}